<main class="form-edit">
  <%= render "devise/shared/error_messages", resource: @profile %>

  <%= form_for(@profile, as: :profile, url: profile_path(@profile), method: :patch) do |f| %>
    <h1 class="h3 mb-3 fw-normal">Edit</h1>

    <div class="form-floating">
      <%= f.email_field :email, class: 'form-control', autofocus: true, autocomplete: "email", placeholder: "example@mail.com"%>
      <%= f.label :email %>
    </div>

    <div class="form-floating">
      <%= f.phone_field :phone_number, class: 'form-control', autofocus: true, autocomplete: "phone", placeholder: "0999999999" %>
      <%= f.label :phone_number %>
    </div>

    <%= f.fields_for(:user_attributes, @profile.user.decorate, include_id: false) do |user_attributes_f| %>
      <% Profile::PUBLIC_ATTRIBUTES_MAPPER[current_profile.user_type.downcase].excluding('category').each do |attribute_name| %>
        <div class="form-floating">
          <%= user_attributes_f.text_field attribute_name.to_sym, class: 'form-control', autofocus: true, placeholder: attribute_name.humanize %>
          <%= user_attributes_f.label attribute_name.to_sym %>
        </div>
      <% end %>
    <% end %>

    <%= f.submit "Update", class: 'w-100 btn btn-lg btn-primary' %>
  <% end %>
  <%= link_to "Cancel", profile_path(@profile), method: :get %>
</main>
