<main class="profile-section">
  <h2>Welcome <%= @profile.decorate.full_name %></h2>

  <table class="table table-sm caption-top table-info table-striped">
    <caption><%= @profile.user_type %> details | <%= link_to "Edit", edit_profile_path(@profile), method: :get %></caption>
    <tbody>
    <% @profile.user.class.const_get(:PUBLIC_ATTRIBUTES).each do |attribute_name| %>
      <tr>
        <th scope="row"><%= attribute_name.humanize %></th>
        <td><%= @profile.user.public_send(attribute_name) %></td>
      </tr>
    <% end %>
    <% @profile.class.const_get(:PUBLIC_ATTRIBUTES).each do |attribute_name| %>
      <tr>
        <th scope="row"><%= attribute_name.humanize %></th>
        <td><%= @profile.public_send(attribute_name) %></td>
      </tr>
    <% end %>
    </tbody>
  </table>
</main>
